{% extends "base.html" %}

{% block content %}

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Token</th>
        <th scope="col">email</th>
        <th scope="col">Token created</th>
        <th scope="col">URL use count</th>
        <th scope="col">Last visit</th>
        <th scope="col">Access allowed</th>
      </tr>
    </thead>
    <tbody>
      {% for token in tokens %}
      <tr>
        <th>{{token.token}}</th>
        <th>{{token.email}}</th>
        <th>{{token.created}}</th>
        <th>{{token.entered}}</th>
        <th>{{token.last_visited}}</th>
        <th>{{token.active}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}